.img-thumbnail{
    margin: 25px;
    width: 85%;
    height: 85%;
}

.card-body{
    padding: 0 25px;
}

.card-footer{
    padding: 10px 15px;
    background-color: #fff;
    border-top: none;
<<<<<<< HEAD
}
=======
}

.ngx-gallery { display: inline-block; margin-bottom: 20px; }
>>>>>>> ff13ddfc743b9c657a137e716d8dff0724be10d7
