.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

img{
    max-height: 50px;
    border: 2px solid white;
    display: inline;
}

#home{
    font-size: larger;
    font-style: italic;
    font-weight: 900;
    
}